.content {
  display: flex;
}
.main-color {
  background: rgb(253, 125, 51);
}
.content-item {
  width: 33%;
  margin: 1px;
  height: 500px;
  overflow:hidden;
}
.content-item img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
}

.cover-area {
  width: 100%;
}
.cover-area img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}

.see_more {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
}

.card .tweet-image {
  object-fit: cover;
  max-width: 100%;
  max-height: 750px;
}

.profile-area .icon img {
  width: 120px;
  max-height: 120px;
}

.profile-area {
  margin-top: -60px;
}

.profile-area .username {
  margin-left: 2%;
}

.profile-area .name {
  margin-left: 2%;
}

.card .user-name {
  font-style: italic;
  display: inline;
}

.card .tweet-text {
  font-size: 13px;
  font-style: normal;
}

.card .add-more {
  /* padding-top: 8px;
  font-size: 19px; */
  font-style: normal;
}

.image-list {
  width: 100%;
  height: 500px;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}

.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  text-align: center;
  background-color: #405D9D !important;
  color: #fff;
}

.btn-twitter {
  text-align: center;
  background-color: #42AEEC !important;
  color: #fff;
}
.p-b-10 {
  padding-bottom: 160px;
}
.f-size-1 {
  font-size: 20px;
}
.f-size-2 {
  font-size: 24px;
}
.f-size-3 {
  font-size: 28px;
}
.f-size-4 {
  font-size: 32px;
}
.self-introduction {
  border: 0.9px rgba(90, 90, 90, 0.473) solid;
  width:100%;
  height:100px;
  margin-left: 2%;
}

.profile-icon {
  padding: 7px 0px 0px 7px;
}

.check-area{
	margin: 5px 5px 0px 0px;
}

.custom-check{
	margin-left: -22px;
}


@media screen and (max-width: 600px) {
  header img, footer img {
    width: 28px;
    height: 28px;
  }
  .profile-icon {
    width: 28px;
    height: 28px;
	padding: 7px 0px 0px 7px;
  }
  .p-b-10{
    padding-bottom: 64px;
  }
  .see_more {
    display: inline-block;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  .card .user-name {
    font-size: 12px;
    font-style: italic;
    display: inline;
  }
  .card .tweet-text {
    font-size: 12px;
    font-style: normal;
  }
  .btn-group img {
    width: 25px;
    height: 20px;
  }
  .card .tweet-image {
    object-fit: cover;
    max-width: 100%;
    max-height: 250px;
  }
  .card .add-more {
    /* padding-top: 8px; */
    font-size: 10px;
    font-style: normal;
  }
  .content-item {
    width: 33%;
    margin: 1px;
    height: 120px;
  }
  .content-item img {
    object-fit: cover;
    width: 100%;
    max-height: 120px;
  }
  .cover-area img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
  .profile-area .icon img {
    width: 80px;
    max-height: 120px;
  }
  .profile-area {
    margin-top: -40px;
  }
  .profile-area .name {
    margin-left: 3%;
    font-size: 13px;
  }
  .profile-area .username {
    margin-left: 3%;
    font-size: 13px;
  }
  .image-list {
    width: 100%;
    height: 120px;
}	
	
}
